<div class="footer-spacer">
	<img src="/assets/footer-bg.png"></img>
</div>
<footer>
	<div>
		<p>Sign up for news and updates from the PageBreak team.</p>
		{% include mailchimp.html %}
	</div>
	<div class="footer-links">
		<figure>
			<a href="/"><img src="/assets/logo-white.png" /></a>
		</figure>
		<p>
			<a href="https://twitter.com/pagebreakconf" target="_blank"><span>Twitter</span></a>
			<span> | </span>
			<a href="https://www.linkedin.com/company/pagebreak-conference/" target="_blank"><span>LinkedIn</span></a>
		</p>
	</div>
</footer>